node_modules/
www/
.DS_Store

android/.gradle/
android/local.properties
android/app/build/
android/build/
android/captures/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json

ios/App/Pods/
ios/App/DerivedData/
ios/App/App/public/
